<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>
    
        <div class="form">
            <form action="/book" method="POST">
                <label  for='book_name'>Enter Book Name:<label>
                <input type="text" name="book_name" id="book_name">
                <label  for='chapter'>Enter Chapter Number:<label>
                <input type="text" name="chapter" id="chapter">
                <label  for='text_mode'>Enter Text Mode:<label>
                <input type="text" name="text_mode" id="text_mode">
                <label  for='uppercase_mode'>Enter Uppercase Mode:<label>
                <input type="text" name="uppercase_mode" id="uppercase_mode">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>